node_modules/
build/
dist/

# Python
__pycache__/
*.py[cod]
*.so
venv/
venv39/

# Jupyter
.ipynb_checkpoints/

# Models / Large files
*.ckpt
*.pth
*.pyd
*.dll
*.lib
*.h5
*.pb
*.onnx

# Cache & Logs
*.log
*.out
*.pid

# Environment
.env
.env.*
.DS_Store

# VSCode / JetBrains / Misc
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Others
*.zip
*.tar.gz
*.egg-info